section.breadcrumbs {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;

    ul {
        list-style: none;
        font-size: 0.875rem;
        color: var(--gray);


        li {
            display: inline; 
        }

        li + li:before {
            padding: 0.25rem;
            content: "\003e";
            color: var(--gray);
        }

        li:last-child {
            font-weight: 600;
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6;
        }
    }
}
