.product-list {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;

    ul {
        list-style: none;
        background-color: #FFFFFF;
        width: 100%;

        hr {
            border: 1px solid var(--gray);
            margin: auto;
            width: 95%;
            opacity: 0.2;
        }

        hr:first-child {
            display: none;
        }

        li {
            display: flex;

            img {
                margin: 1rem;
                width: 180px;
                height: 180px;
                border: 0.25rem;
                border-radius: 4px;
            }

            div {
                padding-top: 16px;

                &.item-price {
                    display: flex;
                    align-items: center;

                    strong {
                        font-size: 1.5rem;
                        line-height: 3rem;
                        font-weight: 500;
                    }
                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                        margin: 0 0.625rem !important;
                    }
                }

                 &.item-city {
                    display: flex;
                    padding: 0 0 0 100%;
                    font-size: 0.75rem;
                    color: var(--gray);
                    font-weight: 600;
                }

                p {
                    font-size: 1.125rem;
                    margin-top: 0.188rem;
                }
            }
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6;
        }
    }
}
